.bg {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/img/bg-image.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
